@page "/admin/logs"
@rendermode InteractiveServer

<PageTitle>Audit Logs</PageTitle>

<div class="d-flex align-items-center justify-content-between">
    <h1>Audit Logs</h1>
    <button class="btn btn-dark" @onclick="ExportData">Export To Excel</button>
</div>

@if (auditLogs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Table Name</th>
                <th>Action Type</th>
                <th>Row Number</th>
                <th>User Name</th>
                <th>User Role</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var auditLog in auditLogs)
            {
                <tr>
                    <td>@auditLog.EntityName</td>
                    <td>@auditLog.ActionType</td>
                    <td>@auditLog.RowNumber</td>
                    @if (auditLog.UserId is null)
                    {
                        <td>Auto</td>
                    }
                    else
                    {
                        <td>@auditLog.User?.UserName</td>
                    }

                    @if (auditLog.UserRole is null)
                    {
                        <td>Auto</td>
                    }
                    else
                    {
                        <td>@auditLog.UserRole</td>
                    }
                    <td>@(TimeZoneInfo.ConvertTimeFromUtc(auditLog.Timestamp, TimeZoneInfo.Local))</td>
                </tr>
            }
        </tbody>
    </table>
    <nav aria-label="Page navigation example m-auto">
      <ul class="pagination">
        <li class="page-item"><button class="page-link" @onclick="() => Paginate(false, 0)">Previous</button></li>
        @foreach (var pageNum in totalPages)
        {
            <li class="page-item"><button class="page-link" @onclick="() => Paginate(null, pageNum)">@pageNum</button></li>
        }
        <li class="page-item"><button @onclick="() => Paginate(true, 0)" class="page-link">Next</button></li>
      </ul>
    </nav>
}